<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <% if @user.image? %>
          <%= image_tag asset_path(@user.image.to_s), height: "150"%>
        <% else %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <% if current_user == @user %>
      <%= link_to 'Edit', edit_user_path, class: 'btn btn btn-primary' %>
    <% end %>
    <h3>
      <%= @user.name %> has watched <%= WatchRelation.where(user_id: @user.id).count %> films
    </h3>
  </div>
</div>

<div class="row">
  <%= render 'films/films', films: @watched_films %>
  
</div>