<%= form_for(@watch_relation) do |f| %>

  <div class="form-group">
    <%= f.label :rate, 'rate' %>
    <%= f.number_field :rate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :comment, 'comment' %>
    <%= f.text_field :comment, class: 'form-control' %>
  </div>
  <%= f.submit 'update rating', class: 'btn btn-primary btn-block' %>
<% end %>