<div class="row">
  <aside class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @film.title %></h3>
      </div>
      <div class="panel-body">
        <%= image_tag asset_path(@film.image.to_s), class: 'img-responsive film_image' %>
      </div>
    </div>
    
  </aside>
  <div class="col-xs-6 container">
    <div class="panel panel-default">
      <% if current_user.admin? %>
        <div>
          <%= link_to 'Edit', edit_film_path, class: 'btn btn-sm btn-primary' %>
        </div>
      <% end %>
      
      <div class="film_info_label">Director<br></div>
      <div class="film_info"><%= @film.director %></div>
      <div class="film_info_label">Released date<br></div>
      <div class="film_info_sub"><%= @film.release_date %></div>
      <div class="film_info_label">Language<br></div>
      <div class="film_info_sub"><%= @film.lang %></div>
    </div>
  </div>
</div>

<div class="row">
  <aside class="col-xs-6">
    <%= render 'watch_relations/watch_button', film: @film %>
  </aside>
  <aside class="col-xs-6">
    <div>
        <%= @film.description %>
      </div>
  </aside>
</div>